.board #image-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.selectBlock{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6rem;
    margin: 3rem;
    background-size: cover;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    color:white;
}
.selectBlock img{
    width: 6rem;
    height: 6rem;
}
.selectBlock span{
    position: relative;
    left: 8rem;
}
.selectBlock p{
    color: yellow;
}


#statusContainer{
    background-color: #74CB48    ;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#statusContainer img{
    width: 40rem;
    height: 40rem;
    border-radius: 20px;
    position: relative;
    top: 6rem;
}
#statusContainer #Statusheader{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}
#statusContainer #infos{
    height: 50vh;
    background-color: white;
    width: 97vw;
    border-radius: 20px 20px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 3rem;
}