#contactPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: relative;
    top: 4rem;
   
}
#contactPage img{
    position: relative;
    left: 10rem;
    width:25rem;
    height:25rem;
}
 a{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
#container{
    display: flex  ;
    flex-direction: row;
    justify-content: space-between;
    width:50rem;
}
