<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="../css/ContactPage.css">
    <title>Cerradex</title>
</head>
<body>


        <div class="header">
            <div class="logo">
            <h1>Cerradex</h1>
            <img src="" alt="">
        </div>
        <ul>
            <li class="selected">
                Home
            </li>
            <li>
                Cerradex
            </li>
            <li>
                Contato 
            </li>
            
            <li>
                App
            </li>
        </ul>
        <p class="switchRegulator" style="color: white;">
        🌙
        </p>
    </div>
    <div class="board light"></div>
    <footer>
        <p></p>
    </footer>
    <script src="../js/index.js">
       
        </script>
</body>
</html>